.box-header {
    border-bottom: 1px solid#d2d6de;
}

.box-sub-header {
    border-top-color: #dd4c39a8 !important;
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    margin-top: 0px;
    width: 100%;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    padding: 8px 0px;
}

.box-sub-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}