.box-header {
    border-bottom: 1px solid#d2d6de;
}

.box-sub-header {
    border-top-color: #dd4c39a8 !important;
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    margin-top: 0px;
    width: 100%;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    padding: 8px 5px;
    background-color: #f3f3f3;
}

.box-sub-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.control-label{
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}

.border-custom {
    border: 1px solid #dd4b39;
    border-top: 0px;
    border-radius: 3px !important;
    margin-bottom: 20px;
}

.custom-table  {
    margin-top: -20px;
    width: 100%;
    max-width: 100%;
    text-align: center;
}
.custom-table tr{
    border-top: 1px solid #dd4b39;
}
.time-estimate {
    height: 40px;
}
.validasi{
    height: 60px;
}

.fade:not(.show){
    opacity: 1;
}
.fade{
    opacity: unset;
}

.a-group-red, .a-group-yellow, .a-group-green {
    padding: 8px;
    font-size: 18px;
}
.a-group-red{
    background-color: #be4636;
}
.a-group-yellow{
    background-color: #c58216;
}
.a-group-green{
    background-color: #148351;
}
.number-task {
    width: 50% !important;
    color: white;
}
.no-border-top {
    border-top: 1px solid #f4f4f4;
}

.title-timesheet {
    padding: 5px;
    background-color: #dd4b39;
    color: white;
}
.timer {
    padding-top: 10px;
}

.title-task{
    position: relative;
    margin-top: 5px;
    top: 0;
    right: 0;
    float: none;
    background: #d2d6de;
    padding: 2px;
}

.white-background {
    background-color: white;
}

.total-time {
    margin-top: -14px;
}
.total-time tr td{
    text-align: center;
}

.item-tr-center {
    text-align: center;
    color: white;
    background-color: #dd4c39d8;
}

.item-tr-center-default {
    text-align: center;
}

.item-tr-center:hover {
    background-color: #148351d5 !important;
}

.sparepartSelect {
    background-color: green !important;
    color: white !important;
}